### DATA CLEANING

### Objective

The goal of this task is to clean the provided dataset, ensuring it is free from noise and inconsistencies, making it ready for analysis.

### Data Description:

#### Source: Messy Dataset

#### Features:

1.Unnamed 0: Index column (can be dropped).

2.ID: Unique identifier for each record.

3.Name: Contains names, some of which include extra text or noise.

4.Age: Contains missing and possibly unrealistic values.

5.Email: Some email addresses are invalid or missing.

6.Join Date: Contains date values, with missing and inconsistent formats.

7.Salary: Contains missing values and possible noise or outliers

8.Department: Contains missing values and inconsistencies in department names.

### Import necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import re

### Loading the Data

In [2]:
df=pd.read_csv(r"C:\Users\91963\Downloads\messy_data.csv")

### Inspecting the Data

In [3]:
# Display the first few rows of the dataset
df.head()

,Unnamed: 0,ID,Name,Age,Email,Join Date,Salary,Department
0,0,1e407ff9-6255-489d-a0de-34135d4f74bd,Hunter Thomas,25.0,xlopez@hotmail.com,NaN,88552.0,Sales
1,1,379f55b8-87d5-4739-a146-7400b78c24d1,Jeremy Irwin,90.0,Jillian Jenkins,2022-07-07,139227.0,NaN
2,2,18261368-dfa1-47f0-afc6-bddf45926b07,Jennifer Hammondquickly,66.0,jscottgreen.biz,2023-11-21,65550.0,Engineering
3,3,ae7cf7cf-17cf-4c8b-9c44-4f61a9a238e5,Sydney Taylorso,39.0,luke56gonzalez.com,2021-11-05,139932.0,SupportJ
4,4,14ed3e6a-e0f5-4bbe-8d93-8665267f5c90,Julia Lee,71.0,figueroakayla@yahoo.com,NaN,143456.0,Marketing

In [4]:
# Drop the column named 'Unnamed: 0'
df = df.drop(columns=['Unnamed: 0'])

In [5]:
# Size of the DataFrame
df.shape

(11000, 7)

In [6]:
# Get the DataFrame information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          11000 non-null  object
 1   Name        8667 non-null   object
 2   Age         9253 non-null   float64
 3   Email       9731 non-null   object
 4   Join Date   8808 non-null   object
 5   Salary      8761 non-null   float64
 6   Department  8745 non-null   object
dtypes: float64(2), object(5)
memory usage: 601.7+ KB

In [7]:
# Generate descriptive statistics
df.describe()

               Age         Salary
count  9253.000000    8761.000000
mean     54.162650   89886.585012
std      21.072919   34896.320117
min      18.000000   24655.136613
25%      36.000000   59723.844874
50%      54.000000   89241.000000
75%      72.000000  119491.000000
max      90.000000  176156.206747

#### Record Data Quality Issues

In [8]:
# Checking for duplicates 
df.duplicated().sum()

291

In [9]:
# Delete duplicates 
df = df.drop_duplicates()

In [10]:
df.dtypes

ID             object
Name           object
Age           float64
Email          object
Join Date      object
Salary        float64
Department     object
dtype: object

In [11]:
# converting data type 
df['Join Date'] = pd.to_datetime(df['Join Date'], dayfirst=True, errors='coerce')

In [12]:
#Checking for missing values
df.isnull().sum()

ID               0
Name          2130
Age           1564
Email         1092
Join Date     7973
Salary        2048
Department    2062
dtype: int64

#### Handle Missing Values

In [13]:
#Name
df['Name'] = df['Name'].fillna('Unknown')

In [14]:
#Age
median_age = df['Age'].median()
df['Age'].fillna(median_age)

0        25.0
1        90.0
2        66.0
3        39.0
4        71.0
         ...
10993    79.0
10994    29.0
10996    38.0
10997    54.0
10998    37.0
Name: Age, Length: 10709, dtype: float64

In [15]:
# Email
df['Email'].fillna('Unknown')

0               xlopez@hotmail.com
1                  Jillian Jenkins
2                  jscottgreen.biz
3               luke56gonzalez.com
4          figueroakayla@yahoo.com
                   ...
10993               Michael Walker
10994      cheryllewis@hotmail.com
10996             molly89gmail.com
10997    robert96@pollard-frye.com
10998           roypark@warren.net
Name: Email, Length: 10709, dtype: object

In [16]:
#Join Date
mode_join_date = df['Join Date'].mode()[0]
df['Join Date'].fillna(mode_join_date)

0       2021-05-02
1       2022-07-07
2       2021-05-02
3       2021-05-11
4       2021-05-02
           ...
10993   2021-05-02
10994   2021-05-02
10996   2021-05-02
10997   2021-05-02
10998   2020-09-10
Name: Join Date, Length: 10709, dtype: datetime64[ns]

In [17]:
#salary
median_salary = df['Salary'].median()
df['Salary'].fillna(median_salary)

0         88552.000000
1        139227.000000
2         65550.000000
3        139932.000000
4        143456.000000
             ...
10993     47809.000000
10994    147555.000000
10996     89168.000000
10997    122609.594149
10998    147322.005171
Name: Salary, Length: 10709, dtype: float64

In [18]:
#Department
df['Department'].fillna('Unknown')

0              Sales
1            Unknown
2        Engineering
3           SupportJ
4          Marketing
            ...
10993             HR
10994    Engineering
10996          Sales
10997             HR
10998        Support
Name: Department, Length: 10709, dtype: object

#### Correct Email Formats

In [19]:
# Define regex for valid email format
email_pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'

In [20]:
# Filter out invalid emails, handle non-string (e.g. NaN) values
df = df[df['Email'].apply(lambda x: isinstance(x, str) and re.match(email_pattern, x) is not None)]

####  Clean Name Fields

In [21]:
# Remove noise from names (e.g., extra words or characters)
df['Name'] = df['Name'].str.replace(r'[^a-zA-Z\s]', '', regex=True).str.strip().str.title()

#### Standardize Date Formats

In [22]:
# Convert 'Join Date' to YYYY-MM-DD format
df['Join Date'] = pd.to_datetime(df['Join Date']).dt.strftime('%Y-%m-%d')

#### Correct Department Names

In [23]:
# Get all unique department names
unique_departments = df['Department'].unique()
unique_departments

array(['Sales', 'Marketing', 'SupportE', 'HR', 'Engineering', 'SalesA',
       'SalesX', 'Engineeringi', 'MarketingR', 'Salesw', 'SalesK',
       'MarketingU', nan, 'Support', 'Supporty', 'Marketinge',
       'Marketingv', 'HRv', 'SalesM', 'EngineeringL', 'MarketingQ', 'HRs',
       'Supportj', 'Salesd', 'Marketingu', 'SalesU', 'MarketingH',
       'Salesj', 'Saleso', 'SalesZ', 'Engineeringe', 'Marketingr',
       'Engineeringm', 'HRt', 'SalesW', 'Engineeringp', 'HRF', 'SalesC',
       'SupportC', 'SalesY', 'EngineeringK', 'Marketingz', 'SalesN',
       'HRo', 'SupportB', 'HRi', 'Salest', 'Supportg', 'Supporta', 'HRn',
       'SupportQ', 'Supportm', 'Supporto', 'EngineeringH', 'Marketingw',
       'EngineeringM', 'Supportz', 'HRr', 'Salesy', 'MarketingD', 'HRE',
       'Supportu', 'Marketingm', 'HRw', 'Supportk', 'MarketingN',
       'SupportS', 'EngineeringD', 'Marketingp', 'Salesl', 'Salesr',
       'SupportT', 'Engineeringn', 'MarketingO', 'SalesF', 'Salesz',
       'Marketingt', 'Engineeringv', 'HRL', 'HRI', 'HRW', 'EngineeringR',
       'HRD', 'Marketingk', 'Salese', 'Saless', 'Salesn', 'Engineeringl',
       'SalesE', 'HRy', 'SalesD', 'HRm', 'HRz', 'MarketingG',
       'Marketingn', 'SalesI', 'Salesu', 'Engineeringg', 'MarketingE',
       'SupportA', 'Engineeringq', 'EngineeringQ', 'EngineeringA',
       'Supporte', 'Engineeringu', 'EngineeringO', 'Supportv', 'HRK',
       'Engineeringb', 'SalesV', 'HRT', 'SupportY', 'MarketingX',
       'Supportp', 'HRU', 'HRp', 'HRg', 'SalesS', 'Marketingl',
       'Engineeringt', 'SalesJ', 'EngineeringX', 'Engineeringc',
       'Marketingh', 'MarketingF', 'EngineeringC', 'Engineeringz', 'HRP',
       'Salesv', 'Engineeringk', 'SupportH', 'Salesk', 'Supporth',
       'Supportq', 'Salesi', 'HRJ', 'Supportd', 'HRZ', 'SupportJ',
       'MarketingZ', 'Salesc', 'EngineeringJ', 'Engineeringx',
       'EngineeringT', 'Salesq', 'Engineeringh', 'Supportl', 'SupportX',
       'EngineeringG', 'SalesH', 'MarketingC', 'SupportV', 'HRq',
       'Marketingb', 'Supporti', 'SupportL', 'HRM', 'Supportt', 'HRX',
       'EngineeringE', 'EngineeringF', 'SupportP', 'HRf', 'MarketingB',
       'Engineeringf', 'HRB', 'Marketinga', 'HRj', 'SupportI', 'HRA',
       'Marketingj', 'MarketingV', 'EngineeringZ', 'HRl', 'Marketingx',
       'Engineeringj', 'HRN', 'MarketingJ', 'Marketingi', 'Supportw',
       'HRh', 'Engineerings', 'Supportb', 'Engineeringa', 'SalesB',
       'SalesO', 'Marketingf', 'Marketingg', 'SupportK', 'Engineeringd',
       'HRk', 'Marketingd', 'SalesR', 'MarketingS', 'MarketingL',
       'MarketingT', 'HRR', 'Engineeringw', 'Salesg', 'SupportO',
       'EngineeringV', 'HRb', 'SupportN', 'SupportG', 'Marketingc',
       'Supportn', 'EngineeringU', 'Supportx', 'HRY', 'Salesp', 'HRH',
       'MarketingK', 'SalesL', 'Marketingq', 'SupportD', 'SalesT',
       'Supports', 'HRQ', 'Supportr', 'Engineeringr', 'EngineeringW',
       'Salesm', 'HRC', 'SupportF', 'HRe', 'SupportW', 'EngineeringI',
       'Marketingy', 'MarketingM', 'MarketingI', 'SupportU', 'Salesa',
       'Salesf', 'MarketingY', 'Supportf', 'HRd', 'HRu', 'Salesh',
       'EngineeringB', 'SupportM', 'EngineeringN', 'HRV', 'HRa', 'HRG',
       'SalesP', 'Supportc', 'HRx', 'EngineeringS', 'EngineeringP',
       'Engineeringy', 'HRS', 'SupportR', 'Salesx', 'Marketings',
       'MarketingW', 'HRO', 'HRc', 'SupportZ', 'SalesG', 'SalesQ',
       'Salesb', 'MarketingP', 'Engineeringo'], dtype=object)

In [24]:
# Create a dictionary mapping incorrect department names to the correct ones
department_mapping = {
    # HR variations
    'HRv': 'HR', 'HRs': 'HR', 'HRt': 'HR', 'HRF': 'HR', 'HRo': 'HR',
    'HRi': 'HR', 'HRn': 'HR', 'HRr': 'HR', 'HRE': 'HR', 'HRw': 'HR',
    'HRp': 'HR', 'HRm': 'HR', 'HRz': 'HR', 'HRy': 'HR', 'HRK': 'HR',
    'HRP': 'HR', 'HRJ': 'HR', 'HRZ': 'HR', 'HRL': 'HR', 'HRI': 'HR',
    'HRW': 'HR', 'HRD': 'HR', 'HRq': 'HR', 'HRM': 'HR', 'HRX': 'HR',
    'HRf': 'HR', 'HRB': 'HR', 'HRj': 'HR', 'HRA': 'HR', 'HRl': 'HR',
    'HRN': 'HR', 'HRh': 'HR', 'HRk': 'HR', 'HRR': 'HR', 'HRY': 'HR',
    'HRH': 'HR', 'HRQ': 'HR', 'HRC': 'HR', 'HRe': 'HR', 'HRV': 'HR',
    'HRa': 'HR', 'HRG': 'HR', 'HRx': 'HR', 'HRS': 'HR', 'HRO': 'HR',
    'HRc': 'HR', 'HRT': 'HR', 'HRU': 'HR', 'HRg': 'HR', 'HRb':'HR',
    'HRd': 'HR', 'HRu': 'HR',
    
    # Engineering variations
    'Engineeringi': 'Engineering', 'EngineeringL': 'Engineering', 'Engineeringe': 'Engineering',
    'Engineeringm': 'Engineering', 'Engineeringp': 'Engineering', 'EngineeringK': 'Engineering',
    'EngineeringR': 'Engineering', 'Engineeringl': 'Engineering', 'Engineeringg': 'Engineering',
    'Engineeringq': 'Engineering', 'EngineeringO': 'Engineering', 'Engineeringb': 'Engineering',
    'Engineeringk': 'Engineering', 'Engineeringc': 'Engineering', 'Engineeringx': 'Engineering',
    'EngineeringT': 'Engineering', 'Engineeringh': 'Engineering', 'EngineeringG': 'Engineering',
    'EngineeringA': 'Engineering', 'Engineeringw': 'Engineering', 'EngineeringV': 'Engineering',
    'EngineeringD': 'Engineering', 'Engineeringn': 'Engineering', 'Engineeringf': 'Engineering',
    'EngineeringE': 'Engineering', 'EngineeringF': 'Engineering', 'EngineeringP': 'Engineering',
    'Engineeringy': 'Engineering', 'Engineerings': 'Engineering', 'Engineeringa': 'Engineering',
    'Engineeringd': 'Engineering', 'EngineeringS': 'Engineering', 'EngineeringU': 'Engineering',
    'EngineeringN': 'Engineering', 'EngineeringB': 'Engineering', 'EngineeringJ': 'Engineering',
    'EngineeringZ': 'Engineering', 'Engineeringr': 'Engineering', 'EngineeringW': 'Engineering',
    'EngineeringI': 'Engineering', 'EngineeringM': 'Engineering', 'Engineeringu': 'Engineering',
    'EngineeringH': 'Engineering', 'Engineeringv': 'Engineering', 'EngineeringQ': 'Engineering',
    'Engineeringt': 'Engineering', 'EngineeringX': 'Engineering',  'EngineeringC': 'Engineering', 
    'Engineeringz': 'Engineering', 'Engineeringo': 'Engineering', 'Engineeringj': 'Engineering', 
    
    # Marketing variations
    'MarketingR': 'Marketing', 'MarketingU': 'Marketing', 'Marketinge': 'Marketing',
    'Marketingv': 'Marketing', 'Marketingu': 'Marketing', 'MarketingH': 'Marketing',
    'MarketingQ': 'Marketing', 'Marketingr': 'Marketing', 'Marketingz': 'Marketing',
    'Marketingk': 'Marketing', 'Marketingn': 'Marketing', 'Marketingt': 'Marketing',
    'MarketingE': 'Marketing', 'Marketingw': 'Marketing', 'Marketingp': 'Marketing',
    'Marketingm': 'Marketing', 'Marketingy': 'Marketing', 'MarketingD': 'Marketing',
    'Marketingl': 'Marketing', 'MarketingX': 'Marketing', 'MarketingB': 'Marketing',
    'MarketingG': 'Marketing', 'Marketinga': 'Marketing', 'MarketingJ': 'Marketing',
    'MarketingI': 'Marketing', 'MarketingV': 'Marketing', 'Marketingx': 'Marketing',
    'MarketingO': 'Marketing', 'MarketingL': 'Marketing', 'MarketingP': 'Marketing',
    'MarketingS': 'Marketing', 'MarketingT': 'Marketing', 'MarketingY': 'Marketing',
    'Marketingf': 'Marketing', 'Marketingg': 'Marketing', 'MarketingK': 'Marketing',
    'MarketingC': 'Marketing', 'Marketingq': 'Marketing', 'MarketingN': 'Marketing',
    'Marketings': 'Marketing', 'MarketingW': 'Marketing', 'Marketingh': 'Marketing',
    'MarketingF': 'Marketing', 'MarketingZ': 'Marketing', 'Marketingr': 'Marketing',
    'Marketingb': 'Marketing','Marketingj': 'Marketing', 'Marketingi': 'Marketing',
    'Marketingd': 'Marketing', 'Marketingc': 'Marketing', 'MarketingM': 'Marketing',
    
    # Sales variations
    'SalesA': 'Sales', 'SalesX': 'Sales', 'Salesw': 'Sales', 'SalesK': 'Sales',
    'SalesM': 'Sales', 'Salesd': 'Sales', 'SalesU': 'Sales', 'Salesj': 'Sales',
    'Saleso': 'Sales', 'SalesZ': 'Sales', 'Salesy': 'Sales', 'SalesE': 'Sales',
    'SalesD': 'Sales', 'Salesn': 'Sales', 'Salesu': 'Sales', 'SalesI': 'Sales',
    'Salesv': 'Sales', 'Salesk': 'Sales', 'Salesq': 'Sales', 'Salesr': 'Sales',
    'Salesl': 'Sales', 'SalesJ': 'Sales', 'SalesH': 'Sales', 'Salesg': 'Sales',
    'SalesR': 'Sales', 'SalesS': 'Sales', 'SalesT': 'Sales', 'SalesP': 'Sales',
    'Salesm': 'Sales', 'Salesa': 'Sales', 'Salesf': 'Sales', 'Salesb': 'Sales',
    'SalesQ': 'Sales', 'SalesG': 'Sales', 'SalesB': 'Sales', 'SalesO': 'Sales',
    'SalesF': 'Sales', 'Salesz': 'Sales', 'SalesV': 'Sales', 'Salesx': 'Sales',
    'Salesc': 'Sales', 'Saless': 'Sales', 'Salese': 'Sales', 'Salest': 'Sales',
    'SalesW': 'Sales','SalesC': 'Sales', 'SalesY': 'Sales', 'SalesN': 'Sales',
    'Salesp': 'Sales', 'SalesL': 'Sales', 'Salesh': 'Sales','Salesi': 'Sales',

    # Support variations
    'SupportE': 'Support', 'Supporty': 'Support', 'Supportj': 'Support', 'Supportm': 'Support',
    'Supporto': 'Support', 'Supportz': 'Support', 'Supportu': 'Support', 'Supportk': 'Support',
    'Supportl': 'Support', 'SupportH': 'Support', 'Supportp': 'Support', 'Supportv': 'Support',
    'SupportC': 'Support', 'SupportQ': 'Support', 'SupportS': 'Support', 'SupportT': 'Support',
    'Supportd': 'Support', 'SupportI': 'Support', 'SupportA': 'Support', 'SupportD': 'Support',
    'SupportM': 'Support', 'Supportb': 'Support', 'SupportW': 'Support', 'SupportX': 'Support',
    'SupportL': 'Support', 'SupportN': 'Support', 'SupportG': 'Support', 'SupportV': 'Support',
    'Supporti': 'Support', 'Supportc': 'Support', 'Supportn': 'Support', 'SupportF': 'Support',
    'SupportR': 'Support', 'Supports': 'Support', 'Supportr': 'Support', 'Supportw': 'Support',
    'SupportB': 'Support', 'Supportk': 'Support', 'Supporth': 'Support', 'Supportg': 'Support',
    'Supporta': 'Support', 'SupportK': 'Support', 'Supportz': 'Support', 'SupportU': 'Support', 
    'Supportf': 'Support', 'SupportZ': 'Support','Supportx': 'Support', 'SupportO': 'Support',
    'SupportP': 'Support', 'Supportt': 'Support','SupportJ': 'Support','SupportY': 'Support',
    'Supportq': 'Support','Supporte': 'Support'
}

In [25]:
df['Department'] = df['Department'].replace(department_mapping)

In [26]:
unique_dept = df['Department'].unique()
print(unique_dept)

['Sales' 'Marketing' 'Support' 'HR' 'Engineering' nan]

####  Handle Salary Noise

In [27]:
df['Salary'] = df['Salary'].clip(lower=20000, upper=200000)

##### Outlier Detection in Salary and age column

In [28]:
def find_outliers(data, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

for column in df.select_dtypes(include=[np.number]).columns:
    outliers = find_outliers(df, column)
    print(f"{column} has {len(outliers)} outliers.")

Age has 0 outliers.
Salary has 0 outliers.

#### Save the Cleaned Dataset

In [29]:
# Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_data.csv', index=False)